@import "../responsive";
.blog_link {
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-flow: column;
  border-radius: 8px;
  background-color: #fff;
  font-size: 15px;
  overflow: hidden;
  @include mq(md) {
    width: 100%;
  }
}
.blog_link_content {
  display: block;
  flex: 1 1;
}
.blog_main_image {
  text-align: center;
}
.blog_main_title {
  padding: 0.5rem 0;
}
.blog_link_title {
  font-size: 1em;
  line-height: 1.5;
  padding: 0 1rem;
}
.blog_at {
  font-size: 11px;
  padding: 0.5rem 1rem;
  color: #93a5b1;
}
.blog_tags {
  display: flex;
  padding: 0.5rem 1rem;
}
.blog_tag_list {
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  border: 0.5px solid #93a5b1;
  font-size: 12px;
  font-weight: 700;
  margin-right: 0.5rem;
  &:hover {
    background-color: #93a5b1;
  }
}
