@import "../responsive";
.blog_link {
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  &:hover {
    opacity: 0.6;
  }
  @include mq(sm) {
    width: 100%;
  }
}
.blog_link_content {
  display: block;
  flex: 1 1;
}
.blog_main_image {
  text-align: center;
}
.blog_link_title {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}
.blog_user {
  padding: 0.5rem 1rem;
}
.blog_tags {
  display: flex;
}
.blog_tag {
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  border: 0.5px solid #000;
}
