@import "../responsive.scss";
.navigation_content {
  display: flex;
  align-items: center;
  color: var(--second-text);
  border-bottom: 2px solid;
  color: #e4e4e4;
}

.item_name {
  padding: 0.5rem 0.5rem;
  font-weight: 700;
  margin-right: 1rem;
  border-bottom: 2px solid transparent;
  transform: translateY(2px);
  font-size: 19px;
}
.is_active {
  border-bottom-color: var(--c-primary);
  color: var(--text-base);
}
