.footer_layout {
  padding: 1.5rem 0;
  bottom: 0;
  background-color: #fff;
}
.footer_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer_author {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  p {
    margin-top: 0.3rem;
  }
}
