.header_layout {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  border: solid 1px black;
  background-color: #fff;
}
.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_links {
  display: flex;
  align-items: center;
}
.header_links_item {
  margin-left: 1.2rem;
  font-size: 1rem;
}
