.profile_layout {
  padding: 2rem 0;
}
.profile_content {
  display: flex;
  //flex-direction: column;
  //justify-content: center;
  align-items: center;
  //box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.profile_avatar {
  border-radius: 50%;
  width: 120px;
}
.profile_description {
  padding-left: 1.2rem;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
}
.profile_member_name {
  color: var(--second-text);
  font-size: 40px;
}
.profile_member_bio {
  font-size: 0.9rem;
  opacity: 0.7;
}
.profile_links {
  margin-top: 0.5rem;
  display: flex;
}
.profile_link_item {
  margin-right: 0.5rem;
}
