.blog_sidebar_toc {
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
}
.blog_sidebar_toc_title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}
.blog_sidebar_toc_area {
  line-height: 1.7;
  font-size: 16px;
}
.blog_sidebar_toc_list {
  position: relative;
}
.blog_sidebar_toc_list_item {
  position: relative;
  font-weight: 700;
  margin-top: 5px;
  font-size: 14px;
  padding-left: 21px;
  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 9px;
    width: 6px;
    height: 6px;
    background: #000;
  }
}
