@import "./responsive.scss";
@import "./variables.scss";
@import "./pages/Layout.scss";
//@import "./components/BlogLink.module.scss";
//@import "./components//Wrapper.module.scss";
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  word-wrap: break-word;
  word-break: break-word;
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  //background: var(--light-blue--bg);
  //background: #f6f6f9;
  color: rgba(0, 0, 0, 0.85);
  //color: var(--second-text);
  //background: #f3f4f9;
}

img {
  max-width: 100%;
}
p,
blockquote,
dl,
dd,
dt,
section {
  margin: 0;
}
a {
  text-decoration: none;
  transition: 0.25s;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  line-height: 1.5;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
hr {
  border: none;
}
button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  appearance: none;
  background: transparent;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  transition: 0.25s;
  padding: 0;
  margin: 0;
}
