.main_container {
  min-height: calc(100vh - 60px);
}
.page_all_container,
.page_others_container {
  margin-top: 1rem;
  // min-height: 100vh;
}
.page_content_title {
  font-size: 2rem;
}
.all_items,
.others_items {
  padding: 2rem 0;
}
