@import "../../globals/responsive";
.blog_article {
  //background-color: var(--light-blue--bg);
  font-size: 16px;
}
.blog_content_main {
  padding-top: 3.5rem;
  //サイドバーをつけた場合
  display: flex;
  justify-content: center;
  //justify-content: space-between;
  padding-bottom: 3.5rem;
  @include mq(lg) {
    display: block;
  }
}
.blog_content_layout {
  //サイドバーがある場合
  //width: calc(100% - 330px);
  @include mq(lg) {
    width: 100%;
  }
}
.blog_content_title {
  padding: 0.3rem 0;
  font-size: 1.8rem;
}
.blog_content_article {
  background-color: #fff;
  //padding: 1.5rem 2rem;
  border-radius: 12px;
}

.blog_content_tags {
  background-color: #e4e4e4;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}

//aside-profile
.blog_sidebar_aside_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
}
.blog_sidebar_author {
  font-weight: 700;
}
.blog_sidebar_profile_icon_links {
  display: flex;
  align-items: center;
  a {
    padding: 0.4rem;
  }
}
.blog_sidebar_aside_profile_description {
  margin-top: 10px;
  line-height: 1.4;
}
.taggedList_container {
  padding: 1rem 0;
}
.taggedItems_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tag_list_emoji,
.page_link_emoji {
  img {
    width: 20px;
  }
}
.tagName {
  padding: 0.3rem;
  background: #f8f8fa;
  margin-right: 5px;
  border: 1px solid var(--border-base);
  border-radius: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

//share buttom section
.article_share_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.share_title {
  font-weight: 600;
  font-size: 20px;
}
.share_button_content {
  display: flex;
}
.share_button {
  display: inline-block;
  //background: var(--c-primary);
  color: var(--c-primary);
  //color: #fff;
  //width: 30px;
  //height: 30px;
}

//latest articles 関連記事
//
//.latestArticles_layout {
//  padding: 2rem;
//}
//.latestArticles_title {
//  font-size: 1.7rem;
//  font-weight: 700;
//  padding: 1.2rem 0;
//}
//.latestArticles_list {
//  display: grid;
//  grid-template-columns: repeat(3, 1fr);
//  grid-gap: 2em 1.8em;
//}

//clear preview mode
//microCMSからの投稿前プレビュー
.clear_preview_mode {
  font-weight: 700;
  color: red;
  &:hover {
    opacity: 1;
  }
}

.author_info {
  padding: 0.5rem 0;
  border-top: 1px solid var(--border-base);
  padding-top: 2rem;
  margin-top: 50px;
}
