.blog_article {
  background-color: #d3f3ff;
}
.blog_content_main {
  padding-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.5rem;
}
.blog_content_layout {
  width: calc(100% - 330px);
}
.blog_content_title {
  text-align: center;
  padding: 2rem 0;
  font-size: 2.5rem;
}
.blog_content_article {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 12px;
}
.blog_content_article_at {
  display: flex;
  justify-content: center;
}
.blog_content_article_at_list {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background-color: #e4e4e4;
  border-radius: 11px;
}
.blog_content_tags {
  background-color: #e4e4e4;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}

//microCMS記事情報
.blog_content_body {
  line-height: 1.9;
  margin-top: 2.5rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.7rem;
    font-weight: 700;
    border-bottom: 1px solid #e4e4e4;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem 0;
    //&::before {
    //  display: block;
    //  content: " ";
    //  margin-top: -60px;
    //  height: 60px;
    //  visibility: hidden;
    //  pointer-events: none;
    //}
  }
  a {
    color: #0f83fd;
  }
  p {
    margin-top: 1rem;
  }
  span {
    color: #000;
  }
  strong {
    font-weight: 700;
  }
  pre {
    border-radius: 7px;
    background-color: #292a33;
    padding: 1rem;
    margin: 1.5rem 0;
  }
  code {
    background-color: transparent;
    color: #fff;
    line-height: 1.5;
  }
  ul {
    line-height: 1.7;
    padding-left: 1.5rem;
    list-style-type: disc;
  }
  li {
    opacity: 0.8;
  }
}

/*-----------sidebar------------*/
.blog_sidebar_layout {
  width: 300px;
}
.blog_sidebar_content {
  height: 100%;
}
.blog_sidebar_tags {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 30px;
}
.blog_sidebar_topic_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
}
.blog_sidebar_topic_links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog_sidebar_topic_link {
  margin-top: 11px;
  min-width: 49%;
  &:hover {
    text-decoration: underline;
  }
}

/*----------topic-list---------*/
.blog_sidebar_sticky {
  position: sticky;
  top: 100px;
  overflow: auto;
  min-height: 100vh;
}
.blog_sidebar_toc {
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem 1.5rem;
}
.blog_sidebar_toc_title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}
.blog_sidebar_toc_area {
  line-height: 1.7;
  font-size: 16px;
}
.blog_sidebar_toc_list {
  position: relative;
}
.blog_sidebar_toc_list_item {
  position: relative;
  font-weight: 700;
  margin-top: 5px;
  font-size: 14px;
  padding-left: 21px;
  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 9px;
    width: 6px;
    height: 6px;
    background: #000;
  }
}

//clear preview mode
.clear_preview_mode {
  font-weight: 700;
  color: red;
  &:hover {
    opacity: 1;
  }
}
