@use "../../globals/responsive" as mixin;

.blog_content_title {
  padding: 0.3rem 0;
  font-size: 1.8rem;
}

.blog_content_tags {
  background-color: #e4e4e4;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}
